@inherits LayoutComponentBase

<style>
    .content {
        margin-top: 60px; 
    }

    .navbar-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-image: url('/images/banner-902589_1920.jpg'); 
        background-size: cover; 
        background-repeat: no-repeat; 
    }

    .navbar-nav.ml-auto .nav-item {
        margin-right: 40px; 
    }

    .navbar-brand {
        margin-left: 20px;
        margin-right: 20px; 
    }

    .navbar-toggler {
        margin-right: 20px;        
        padding: 8px 10px;
        cursor: pointer; 
        background-color: ghostwhite; 
    }
</style>

<div class="page">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-top">
            <a class="navbar-brand" href="/">BlazerITChallenges</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            </button>
            <div class="navbar-collapse collapse @(!collapseNavMenu ? "show" : "")" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="dobbelen">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Dobbelen
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="movies">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Movies
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="geboortedatum">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Geboortedatum
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="funfacts">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> FunFacts
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="foto">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Foto
                        </NavLink>
                    </li>
                </ul>
            </div>

        </nav>
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

